<!-- <script type="text/javascript" src="../bower_components/highstock-release/highstock.js"></script> -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div class="row module-set">
<!-- 
    <div class="module-content"  id="clock" style="min-width: 310px; height: 400px; margin: 0 auto"></div> -->
    

    <section id="section1"  class="module span8">
    <div  class="module-body">
     <div id="module-1" class="module-body">
        
 <table>

<tr><td id="chart1" style="min-width: 310px; height: 400px; margin: 0 auto" ></td>
    
    
   
        <td id="chart2" style="min-width: 310px; height: 400px; margin: 0 auto"><a class=""  href="http://www.google.com" ></a></td></tr></table>

    </div>
    <footer class="module-footer"></footer>
    </div>
    </section>
    
   <!--  <section id="section2"  class="module span4" >
    <div  class="module-body">
     <div id="module-2" class="module-body">
        <div id="chart2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <footer class="module-footer"></footer>
    </div>
    </section> -->
    
    <section id="section2"  class="module span4" >
    <div  class="module-body">
     <div id="module-3" class="module-body">
          <div class="viewport" style="background: url(images/Capture4.JPG);">
    </div>
    </div>
    <footer class="module-footer"></footer>
    </div>
    </section>
    
   <!--  <section id="section4"  class="module span4">
    <div  class="module-body">
     <div id="module-4" class="module-body">
        <div class="module-content" id="chart4" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <footer class="module-footer"></footer>
    </div>
    </section>
    
    
      <section id="section5"  class="module span4">
    <div  class="module-body">
     <div id="module-5" class="module-body">
        <div class="module-content" id="chart5" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <footer class="module-footer"></footer>
    </div>
    </section>
    
    <section id="section6"  class="module span4">
    <div  class="module-body">
     <div id="module-6" class="module-body">
        <div class="module-content" id="chart6" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <footer class="module-footer"></footer>
    </div>
    </section>
    
    <section id="section7"  class="module span4">
    <div  class="module-body">
     <div id="module-7" class="module-body">
        <div class="module-content" id="chart7" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <footer class="module-footer"></footer>
    </div>
    </section>
    
    
     <section id="section8"  class="module span4">
    <div  class="module-body">
     <div id="module-8" class="module-body">
        <div class="module-content" id="chart8" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <footer class="module-footer"></footer>
    </div>
    </section>
    
    <section id="section9"  class="module span4">
    <div  class="module-body">
     <div id="module-9" class="module-body">
        <div class="module-content" id="chart9" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <footer class="module-footer"></footer>
    </div>
    </section>
    
    <section id="section10"  class="module span4">
    <div  class="module-body">
     <div id="module-10" class="module-body">
        <div class="module-content" id="chart10" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <footer class="module-footer"></footer>
    </div>
    </section>
    -->
    
</div> 
